.fondo-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
hr{
	width: 20%;
	height: 3px;
	background-color: $main-yellow;
}
*{
	font-family: roboto;
	h1 {text-transform:uppercase;}
	p {font-size:18px;}
}

li {list-style: none;}


