.fondo-fixed{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
hr{
	width: 30%;
	height: 3px;
	background-color: $main-yellow;
}
p{
	font-family: roboto;
}