@import "../helpers/_variables.scss";
//banner//
#banner{
	background-image: url(../images/banner-temporal.jpg);
	background-size: cover;
	width:100%;
	height: 500px;
	text-align: center;
	color: white;
	position: relative;
	&::before{
	   background-color: rgba(0, 0, 0,0.57); 
	   width: 100%;
	   height: 500px;
	   content: '';
  		display: block;
	   position: absolute;
	}
	.text-center{
		padding: 5%;
		h1{
			font-size: 70px;
			font-weight: 300;
			color: $main-yellow;
		}
		h3{
			font-size: 30px;
		}
	}
}
#countdown{
	padding: 5% 0%;
}
#info{
	.text-center{
		padding: 5% 15%;
		h1{
			font-size: 45px;
			font-weight: 300;
		}
	}
	.logos{
		text-align: center;
		.hover{
			padding: 5% 10%;
			img{
				width: 150px;
				margin: 2% 0%;
				margin: 20px;
			    border: 5px solid #eee;
			    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -webkit-transition: all 1s ease-out;
			    -moz-transition: all 1s ease;
			    -o-transition: all 1s ease;
			}
			&:hover{
				background-color: lighten($main-yellow, 30%);
				img{
					-webkit-transform: rotate(-360deg);
				    -moz-transform: rotate(-360deg);
				    -o-transform: rotate(-360deg);
				}
			}
		}
	}
	.datos{
		img{
			width: 70%;
			height: auto;
			border: 2px solid $main-yellow;
		}
	}
}

/*expositores*/
#expositores {
	img:hover {@include hover-expositores;}
	.fa {
		color: $main-yellow;
		font-size: 25px;
		&:hover {@include hover-expositores;}
	}
	.fa-linkedin-square:hover {color: $azul-icon;}
	.fa-link:hover {color:$black-icon;}
}
/*fin expositores*/ 
/*seccion de planificacion*/
#horario {
	
.col-md-4, .col-xs-4, .col-lg-4 {
	div.gr {
		@include bg-gris($gris);
		border: 1px solid $main-yellow;
		.rotate{
			-webkit-transition-duration: 0.8s;
			-moz-transition-duration: 0.8s;
			-o-transition-duration: 0.8s;
			transition-duration: 0.8s;

			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			-o-transition-property: -o-transform;
			transition-property: transform;

			overflow:hidden;
		}
		&:hover{
			.rotate{
			-webkit-transform:rotate(360deg);
			-moz-transform:rotate(360deg);
			-o-transform:rotate(360deg);
			}
		}
		
	}
	h3 {margin-top: 0;}
	h4 {color: $main-yellow; font-weight: bold;}
	p {padding: 2%;}
}


	div.bg-yw {
		background-color: $main-yellow;
		width: 100%;
		span.glyphicon-time {
			padding: 2%;
			color: white;
			font-size: 50px;}
	}
}

/*css de colaboradores*/
/* #333333 */
#colab{
	.auspiciadores{
		text-align: center;
	}
	.img-colab{
		margin-top:40%;
		padding:5%;
		&:hover{
			padding:0%;
		}
		img{
			@include imag-colab;
		}
	}
	.img-colab-lb{
		margin-top:5%;
		padding: 5%;
	    &:hover{
			padding: 0%;
		}
		img{
			@include imag-colab;
		}
	}
	.img-colab-if{
		margin-bottom: 12%;
    	padding: 7%;
		&:hover{
			padding: 4%;
			margin-bottom: 12%;
		}
		img{
			@include imag-colab;
		}
	}
	.img-colab-gl{
		margin-top:70%;
		padding: 2%;
    	&:hover{
			padding: 0%;
		}
		img{
			width: 100%;
			height: 10%;
		}
	}
}
/*fin colaboradores*/
/*inicio css footer*/
footer{
	background-color: #333333;
	.nosotros-footer{
		padding: 10%;
		margin-top: 10%;
		h4{
			color:white;
			font-size: 25px;
			margin:10%;
		}
		.parra{
			color:white;
			font-size: 15px;
		}
	}
	.lado-oscuro{
		padding: 3%;
		text-align: center;
		img{
			width: 35%;
			height: 180px;
			display:inline-block;
		}	
		p{
			@include lado;
			color:white;
			font-size: 17px;
		}
	}
	.footer-hr{
		background-color:gray;
	}
	.redes{
		text-align: center;
		.face{
			@include lado;
			@include colores-iconos (#004cb9);
		}
		.twitter{
			@include lado;
			@include colores-iconos(#55b1dd);
		}
		.insta{
			@include lado;
			@include colores-iconos (#b35d8c);
		}
		.in{
			@include lado;
			@include colores-iconos (#4190de);
		}
	}
}
/*inicio section contacto y mapa*/ 
#contacto {
	p {
		margin-top:10%;
		font-size: 40px;
		font-style: italic;
	}
	.fa {
		@include contacto-hover(grey);
		&.fa-facebook:hover {color:$azul-icon;}
		&.fa-twitter:hover {color:#55b1dd}
		&.fa-linkedin:hover {color: #225F94;}
	}
}
