//banner//
#banner{
	background-image: url(../images/banner-temporal.jpg);
	background-size: cover;
	width:100%;
	height: 500px;
	text-align: center;
	color: white;
	position: relative;
	&::before{
	   background-color: rgba(0, 0, 0,0.57); 
	   width: 100%;
	   height: 500px;
	   content: '';
  		display: block;
	   position: absolute;
	}
	.text-center{
		padding: 5%;
		h1{
			font-size: 70px;
			font-weight: 300;
			color: $main-yellow;
		}
		h3{
			font-size: 30px;
		}
	}
}
#countdown{
	padding: 5% 0%;
}
#info{
	.text-center{
		padding: 5% 15%;
		h1{
			font-size: 45px;
			font-weight: 300;
		}
	}
	.logos{
		text-align: center;
		.hover{
			padding: 5% 10%;
			img{
				width: 150px;
				margin: 2% 0%;
				margin: 20px;
			    border: 5px solid #eee;
			    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
			    -webkit-transition: all 1s ease-out;
			    -moz-transition: all 1s ease;
			    -o-transition: all 1s ease;
			}
			&:hover{
				background-color: lighten($main-yellow, 30%);
				img{
					-webkit-transform: rotate(-360deg);
				    -moz-transform: rotate(-360deg);
				    -o-transform: rotate(-360deg);
				}
			}
		}
	}
	.datos{
		img{
			width: 70%;
			height: auto;
			border: 2px solid $main-yellow;
		}
	}
}