//**Esto es para botones simples*//

@mixin botones-simples($ancho, $color-boton, $margin){
	width: $ancho;
	background-color: $color-boton;
	margin: $margin;
	color: white;
	padding: 5px;
	font-weight: bold;
	&:hover{
		font-weight: bold;
		background-color: darken($color-boton, 15%);
	}
}

@mixin imag-colab() {
	width: 100%;
	height: 10%;
}

@mixin lado() {
	display: inline-block;
	margin:2%;	
}

@mixin colores-iconos($colores){
	font-size: 24px;
	color: $gris;
	padding: 5px;
	&:hover{
		font-weight: bold;
		color: $colores;
	}
}